/****** General ***********/

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: grid;
  grid-template-columns: minmax(10px, 1fr);
  grid-gap: 25px;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: minmax(50px, auto) minmax(320px, 1440px) minmax(50px, auto);
}

main > * {
  grid-column: 2 / 3;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** header ***********/

header {
  display: grid;
  grid-template-columns: minmax(50px, auto) minmax(320px, 1440px) minmax(50px, auto);
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 0;
}

.header-wrapper {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, auto);
}

.logos {
  width: 61.09px;
  height: 19px;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  list-style-type: none; /*permet de supprimer les puces devant les mots*/
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header nav a {
  /*pour faire appliquer les paramètres aux liens à l'intérieur de nav */
  text-decoration: none; /*supprime le soulignement par défaut*/
  color: inherit; /*garde la couleur par défaut du texte */
  padding: 20px 0; /* Ajoute un peu d'espace entre le mot et le trait */
  border-top: 2px solid #ffffff; /*pour éviter le décalage des 2px de la bordure*/
  transition: border 300ms ease-in-out; /*pour faire une transition progressive* -ease-in-out pour l'esthétique*/
}

header nav a:not(:last-child) {
  margin-right: 50px;
}

header nav a:hover {
  /*utiliser hover pour que les mots devienent d'une autre couleur au survol */
  color: #0065fc; /*change la couleur en bleu au survol*/
  border-top: 2px solid #0065fc; /*pour faire le trait au dessus du menu au survol */
}

h1, h2 {
  margin: 0;
  font-size: 22px;
}

/****** form *****/

.form {
  display: contents;
}

.destination__form {
  display: inline-flex; /* permet à la bordure de n'entourrer que les éléments du conteneur et les aligne horizontalement*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.destination__form__search-label {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.destination__form__i-color {
  color: #000000;
}

.destination__form__search-button-desktop-only {
  background-color: #0065fc;
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 10px 15px;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.destination__form__search-icon-mobile-only {
  display: none; /* Caché par défaut */
}

.destination__form__text-destination {
  border-right: none;
  border-left: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
}

.destination__form__text-destination::placeholder {
  color: black;
  font-weight: bold;
}

/****** filters *****/

.filters {
    display:grid;
    grid-template-columns: minmax(10px, auto) minmax(10px, 1fr);
}

.filters__title {
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  
}

.filters__button-logo {
  color: #0065fc;
  padding: 5px;
  padding-right: 10px;
}

.filters__button {
  background-color: white;
  border: 2px solid #f2f2f2;
  margin-left: 5px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.filters__button:hover {
  color: black;
  background-color: #deebff;
}

.p__number__heb {
  margin-bottom: 40px;
}

.p__number__heb__info-heb {
    color: #0065fc;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding: 8px;
    padding-bottom: 12px;
    align-items: center;
  }

/****** hebergements and populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

/******* hebergements *******/

.hebergements {
  width: 65%;
}

.hebergements__all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.hebergements__card-heb {
  flex: 0 0 31%;
  box-sizing: border-box;
  background-color: white;
  padding: 5px 5px 15px 5px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative
}

.hebergements__card-heb a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hebergements__card-heb:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.hebergements__p-card-heb {
    margin-top: 0px;
    padding-left: 10px;
}

.hebergements__img-room {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  margin: 0px;
  object-fit: cover;
}

.hebergements__name-hotel {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 10px;
}

.hebergements__stars {
    padding-left: 10px;
}

.hebergements__last-star {
  color: #f2f2f2;
}

.hebergements__more {
  font-weight: bold;
  font-size: 18px;
  padding-top: 30px;
  cursor: pointer;
}

.hebergements__more:hover {
  color: #0065fc;
}

/****** populaires ***********/

.populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }

/***** activities *****/

.activities__title {
  margin-bottom: 50px;
  margin-left: 30px;
  font-size: 22px;
}

.activities__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.activity-card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden; /*pour que la photo ne dépasse pas des angles arrondis*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.activity-card a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.activity-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.activity-card__image {
  width: 100%;
  height: 354px;
  object-fit: cover;
}

.activity-card__title {
  padding-left: 15px;
}

/***** footer *****/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer__a-propos {
  padding-left: 20px;
}

.footer__nos-hebergements {
  padding-left: 60px;
}

.footer__assistance {
  padding-left: 50px;
}

.p-footer {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
}   

.p-footer:hover {
  color: #0065fc;
}

/****** modif pour responsive design tablette*****/

/***** hebergements and populaires ******/

@media screen and (max-width: 1024px) and (min-width: 768px) {

/******filters******/

  .filters__title {
    margin-bottom: 0;
  }

  .filters {
    display: inline;
  }

/******hebergements and populaires ******/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .populaires-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .hebergements, .populaires {
    width: 100%;
  }

  /****** activities ******/

  .activity-card__image {
    max-height: 200px;
  }

/****** footer ******/

  .footer {
    margin-top: 30px;
  }

  .footer__nos-hebergements {
    padding-left: 5%;
  }

  .footer__assistance {
    padding-left: 5%;
  }
}

/****** modif pour responsive design smartphone ******/

@media screen and (max-width: 767px) {
  main {
    grid-template-columns: minmax(20px, auto) minmax(280px, 1fr) minmax(20px, auto);
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

/****** header ******/

  header {
    display: grid;
    grid-template-columns: minmax(0px, auto) minmax(320px, 767px) minmax(0px, auto);
    justify-content: center;
    width: 100%;
    gap: 0;
    padding: 0;
  }

  .header-wrapper {
    grid-template-columns: minmax(10px, 1fr);
  }

  header nav {
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
  }

  header nav a {
    width: 50%;
    text-align: center;
    transition: none;
    border-bottom: 2px solid transparent;
    border-top-width: 0px;
    height: 23px;
  }

  header nav a:hover {
    border-bottom-color:#0065fc;
    border-top: none;
  }

  header .logos {
    margin: auto;
  }

  header nav a:not(:last-child) {
    margin-right: 0px;
  }

  /****** form ******/

  .text-destination {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .destination__form__search-button-desktop-only {
    display: none; /* Cache le bouton "Rechercher" */
  }

  .destination__form__search-icon-mobile-only {
    display: inline-block; /* Affiche le bouton loupe */
    background: #0065fc; /* Style du bouton */
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px !important;
    margin-left: -10px;
  }

  .destination__form__search-icon-mobile-only i {
    font-size: 15px; /* Taille de l'icône */
    color: white; /* Couleur de l'icône */
  }

  .formulaire-destination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /****** filters ******/

  .filters {
    display: inline;
  }

  .filters__title {
    margin-bottom: 10px;
  }

  .filters__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .filters__button {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    height: 47px;
    margin: 5px 5px 5px 0px;
  }

  /****** hebergements and populaires ******/ 

  .hebergements-and-populaires {
    display: grid;
    grid-column: 1 / 4;
    width: 100%;
    grid-template-columns: minmax(20px, auto) minmax(280px, 1fr) minmax(20px, auto);
    grid-row-gap: 30px;
  }

  .hebergements-and-populaires section {
    padding: 0;
    border-radius: 0;
    width: 100%;
  }

  .hebergements-and-populaires .hebergements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .hebergements-and-populaires .populaires {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 20px 0;
    grid-template-columns: minmax(20px, auto) minmax(280px, 1fr) minmax(20px, auto);
    margin-bottom: 40px;
  }

  /****** populaires ******/

  .populaires__wrapper {
    grid-column: 2 / 3;
  }

  .populaires-cards {
    width: 100%;
  }

  /****** hebergements ******/

  .hebergements {
    padding: 0px;
    background-color: white !important;
  }

  .hebergements__all-cards {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    gap: 15px;
  }

  .hebergements__card-heb {
    margin: 0px;
  }

  /****** activities ******/

  .activities__title {
    margin-left: 5px;
  }

  .activities__grid {
    grid-template-columns: minmax(10px, 1fr);
    margin-left: 0px;
    margin-right: 0px;
  }

  .activity-card__image {
    max-height: 200px;
    width: 100%;
  }

  /****** footer ******/

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .footer__nos-hebergements, .footer__assistance {
    padding-left: 20px;
  }
}
